body{
    margin: 0;
    background-color: #050210;
}

.krug{
    position: relative;
    margin: 50px;
    width: 300px;
    height: 300px;
    background: linear-gradient(#fb5dad, #55fb9f, #b97aff);
    border-radius: 50%;
    animation: animacija 1s linear infinite;
}

@keyframes animacija{
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.krug2{
    position: absolute;
    top: 20px;
    right: 20px;
    bottom: 20px;
    left: 20px;
    border-radius: 50%;
    background-color: #0b0424;
}

.krug span{
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(#fb5dad, #55fb9f, #b97aff);
    border-radius: 50%;
    filter: blur(50px);
}